<div class="container" id="main-container">
    <!-- profile  -->
    <div class="container1 user-view ">
        <img src="" alt="">
        <span>
            <a href="#" class="profile-view " #username>Anuv_jain_121121</a>
            <!-- <a href="#" class="profile"> Graphic Designer</a> -->
        </span>
        <div class="container2">
            <span> <a href="#" class="Posts "><mat-icon class="material-symbols-outlined common-icon">
                        filter
            </mat-icon> Posts</a></span>
        </div>
        <div class="container3">
            <span><a href="#" class="Connections"><mat-icon class="material-symbols-outlined common-icon">
                group
    </mat-icon>Connections</a></span>
        </div>
        <div class="container4">
            <span><a href="#" class="Rating"><mat-icon class="material-symbols-outlined common-icon">
                <span class="material-symbols-outlined">
                    hotel_class
                    </span>
    </mat-icon>Rating</a></span>
        </div>
    </div>
    <!-- edit profile -->
    <div class="Add-profile-info">
        <div class="Edit-profile">
            <div>
                <h3 class="edit">Edit Profile</h3>
            </div>
            
             <div class="form-box">
                <div class="form-group">
                    <h2>Name</h2>
                    <input type="text" class="form-control" id="usr" placeholder="David warner">
                </div>
                <div class="form-group">
                    <h2>Bio</h2>
                    <input type="text" class="form-control user-bio" id="bio" placeholder="Add your bio">
                </div>
                <div class="form-group">
                   <h2>Contact</h2>
                    <input type="text" class="form-control" id="contact" placeholder="Email">
                </div>
                <div class="form-group">
                    <h2>Portfolio / Resume</h2>
                    <input type="text" class="form-control" id="portfolio" placeholder="http://.....">
                </div>
             </div>
            <!-- <button class="btn save-btn ">Save</button> -->

        </div>
    </div>
    <!-- form-group -->
</div>