<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container" id="main-container">
    <!-- profile  -->
    <div class="container1 user-view ">
        <img src="" alt="">
        <span>
            <a href="#" class="profile-view " #username>Anuv_jain_121121</a>
            <!-- <a href="#" class="profile"> Graphic Designer</a> -->
        </span>
        <div class="container2">
            <span> <a href="#" class="Posts "><span class="material-symbols-outlined">
                        filter
                    </span> Posts</a></span>
        </div>
        <div class="container3">
            <span><a href="#" class="Connections">Connections</a></span>
        </div>
        <div class="container4">
            <span><a href="#" class="Rating">Rating</a></span>
        </div>
    </div>
    <!-- edit profile -->
    <div class="Add-profile-info">
        <div class="Edit-profile">
            <div>
                <h3 class="edit">Edit Profile</h3>
            </div>
            
             <div class="form-box">
                <div class="form-group">
                    <h2>Name</h2>
                    <input type="text" class="form-control" id="usr" placeholder="Sumeet kothari">
                </div>
                <div class="form-group">
                    <h2>Bio</h2>
                    <input type="text" class="form-control user-bio" id="bio" placeholder="Add your bio">
                </div>
                <div class="form-group">
                   <h2>Contact</h2>
                    <input type="text" class="form-control" id="contact" placeholder="Email">
                </div>
                <div class="form-group">
                    <h2>Portfolio / Resume</h2>
                    <input type="text" class="form-control" id="portfolio" placeholder="http://.....">
                </div>
             </div>
             <!-- <span class="btn ">
                <button class="save-btn ">Save</button>
             </span> -->
        </div>

    </div>
    <!-- form-group -->
</div>