<!-- <p>designer-jobs works!</p> -->
<div class="container">
  <div class="row">
    <div class="job-nav col-8">
      <div class="row">
        <div class="col-12">
          <div class="inputs">
            <div class="input-1">
              <mat-icon
                aria-hidden="false"
                class="search"
                aria-label="Example home icon"
                >search</mat-icon
              >

              <input type="search" placeholder="Job Title or Keyword" />
            </div>
            <div class="input-2">
              <span>
                <mat-icon
                  aria-hidden="false"
                  class="search"
                  aria-label="Example home icon"
                  >search</mat-icon
                >
              </span>
              <input type="search" placeholder="Country or Location" />
            </div>
          </div>
          <hr />
          <div class="drp">
            <div class="company dropdown">
              <select name="jobs">
                <option>Company Name</option>
                <option value="ShubhamPvt">ShubhamPvt</option>
              </select>
            </div>

            <div class="salary dropdown">
              <select name="salary">
                <option>Salary</option>
                <option value="28lakh">28Lakh</option>
                <option value="1lakh">1Lakh</option>
              </select>
            </div>

            <div class="Work dropdown">
              <select name="work">
                <option>Type of Work</option>
                <option value="Part-time">Part Time</option>
                <option value="Full-time">Full Time</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <!-- /* Job Details */ -->
            <div class="jobs">
              <h4>Jobs</h4>
              <select name="jobs">
                <option value="Most-Recent">Most Recent</option>
                <option value="Highest Paid">Highest Paid</option>
              </select>
            </div>

            <div class="job-details">
              <div class="company-name">
                <h3>Company Name</h3>
                <p>Time</p>
              </div>

              <div class="job-specification">
                <h4>Web Flow</h4>
                <p>11-15</p>
                <h5>$100k-300k</h5>
              </div>

              <div class="jobs-detailss">
                <p class="jobs-type">Full Time</p>
                <p class="jobs-type">UI Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-jobs col-4">
      <p>Filter</p>
      <section class="filter-jobs-checkboxes">
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >Graphic Designer</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >3D Animator</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >3D Designer</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >Video Editor</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >Vector Designer</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >Skech Artist</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >UI Designer</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >Game Designer</mat-checkbox
        >
        <mat-checkbox class="filter-job-checkbox" color="primary"
          >2D Designer</mat-checkbox
        >
      </section>
    </div>
  </div>
</div>
