.search-and-job-data{
    padding: 20px 50px 10px 50px;
    margin-top: 50px;
}

.search-and-job-data, .filter-section, .job-info{
    border: 2px solid gray;
}

.search-section, .filter-section{
    display: grid;
}
.filter-section{
    margin-top: 50px;
    padding: 20px;
}
.job-location-search{
    padding: 0px 0px 15px 0px;
}
.company-jobType-selection{
    /* background-color: aqua; */
}
.search-icon{
    margin-right: 30px;
    margin-left: 20px;
}
.search-section{
    /* background-color: yellow; */
}
.profile-search mat-form-field, .location-search mat-form-field, .company-search mat-form-field, .job-type-selection mat-form-field{
    /* width: 200px; */
    width: 100%;
    height: 40px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 5px 0px 2px 0px !important;
    background-color: #D4FEF8;
}
::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px !important; 
}
::ng-deep .mat-focused .mat-form-field-label {
    color: #13476A !important;
}
::ng-deep .mat-form-field-ripple {
    background-color: palevioletred !important;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-infix{
    padding: 5px !important;
}
.jobs-info-section{
    border: 2px solid palevioletred;
    margin-top: 50px;
}
.jobs{
    margin-left: 20px;
}
.job-sort{
    margin-right: 50px;
}
.job-sort mat-form-field{
    width: 150px;
    height: 25px;
}
.job-info{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}