<form>
  <div class="container jobs-content">
    <div class="row justify-content-center">
      <div class="col-7 search-and-job-data">
        <div class="row search-section">
          <div class="row job-location-search justify-content-between">
            <div class="col-5 profile-search">
              <mat-form-field appearance="fill">
                <mat-label>
                  <p><mat-icon class="material-symbols-outlined search-icon">search</mat-icon> Job Profile</p> 
                </mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <div class="col-5 location-search">
              <mat-form-field appearance="fill">
                <mat-label>
                  <p><mat-icon class="material-symbols-outlined search-icon">search</mat-icon> Location</p> 
                </mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row company-jobType-selection justify-content-between">
            <div class="col-5 company-search">
              <mat-form-field appearance="fill">
                <mat-label>Company Name</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let company of companies" [value]="company.value">
                    {{company.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
            <div class="col-5 job-type-selection">
              <mat-form-field appearance="fill">
                <mat-label>Job Type</mat-label>
                <mat-select>
                  <mat-option value="one">Full Time</mat-option>
                  <mat-option value="two">Part Time</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
          </div>
        </div>

        <div class="jobs-info-section">
          <div class="row justify-content-between">
            <div class="col-2 jobs">
              <h2>Jobs</h2>
            </div>
            <div class="col-3 job-sort">
              <mat-form-field appearance="fill">
                <mat-label>Sort</mat-label>
                <mat-select>
                  <mat-option value="one">Alphabetically</mat-option>
                  <mat-option value="two">Most Recent</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="job-info" *ngFor="let job of jobs">
            <div class="row">
              <div class="col-2">
                <mat-icon class="material-symbols-outlined">diamond</mat-icon>
              </div>
              <div class="col-8">
                <h2>UI Designer</h2>
                <div class="row">
                  <div class="col-3">
                  <p>Full Time</p>
                  </div>
                  <div class="col-4">
                    <p>Company Name</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <p>5 hrs ago</p>
              </div>
            </div>
          </div>
          
        </div>
        </div>

      <div class="col-2 filter-section">
        <section [formGroup]="profiles">
          <h4>Popular Profiles</h4>
          <p><mat-checkbox formControlName="threeDAnimators">3D Animators</mat-checkbox></p>
          <p><mat-checkbox formControlName="gameDesigner">Game Designer</mat-checkbox></p>
          <p><mat-checkbox formControlName="graphicsDesigner">Graphics Designer</mat-checkbox></p>
          <p><mat-checkbox formControlName="sketchArtist">Sketch Artist</mat-checkbox></p>
          <p><mat-checkbox formControlName="uiUxDesigner">UI/UX Designer</mat-checkbox></p>
          <p><mat-checkbox formControlName="vectorDesigner">Vector Designer</mat-checkbox></p>
          <p><mat-checkbox formControlName="vedioEditors">Vedio Editors</mat-checkbox></p>
        </section>
      </div>

  </div>
  </div>
</form>