<div class="container" id="main-container">
    <!-- profile  -->
    <div class="container1 user-view ">
        <img src="" alt="">
        <span>
            <a href="#" class="profile" #username>Anuv_jain_121121</a>
            <!-- <a href="#" class="profile"> Graphic Designer</a> -->
        </span>
        <div class="container2">
            <span> <a href="#" class="connection">Connections</a></span>
        </div>
        <div class="container3">
            <span><a href="#" class="rating">Rating</a></span>
        </div>
        <div class="container4">
            <span><a href="#" class="connect">Connect</a></span>
        </div>
        <div class="container5">
            <span> <a href="#" class="message">Message</a>
            </span>
        </div>

    </div>
    <!-- description -->
    <span>
        <div class="description">
            <div class="discrip user-about">
                <h3 class="decript">Description</h3>
            </div>
        </div>
    </span>
    <!-- POST -->
    <div class="post-container">
    <section class="container row ">
        <div class="post col-7">
            <div class="shares">100 Posts</div>
        </div>
        <div class="skills col-4">
              <div class="user-skill">
                  Skills
              </div>
              <div class="recent-activity">
                recent activity
              </div>
        </div>
    </section>
</div>
    <!-- skills -->
    


</div>