<div class="container" id="main-container">
    <!-- profile  -->
    <div class="container1 user-view ">
        <img src="" alt="">
        <span>
            <a href="#" class="profile" #username>Anuv_jain_121121</a>
            <!-- <a href="#" class="profile"> Graphic Designer</a> -->
        </span>
        <div class="container2">
            <span> <a href="#" class="connection"><mat-icon class="material-symbols-outlined icon-common">group</mat-icon>Connections</a></span>
        </div>
        <div class="container3">
            <span><a href="#" class="rating"><mat-icon class="material-symbols-outlined icon-common star">star</mat-icon>Rating</a></span>
        </div>
        <div class="container4">
            <span><a href="#" class="connect"><mat-icon class="material-symbols-outlined icon-common">person</mat-icon>Connect</a></span>
        </div>
        <div class="container5">
            <span> <a href="#" class="message"><mat-icon class="material-symbols-outlined icon-common">sms</mat-icon>Message</a>
            </span>
        </div>

    </div>
    
    <!-- description -->
    <span>
        <div class="description">
            <div class="discrip user-about">
                <h3 class="decript">Description</h3>
            </div>
        </div>
    </span>
    <!-- POST -->
   
    <span>
        <div class=" row ">
            <div class="post col-8">
                <div class="shares">100 Posts</div>
            </div>
            <div class="skills col-4">
                <div class="user-skill">
                    Skills
                </div>
                <div class="recent-activity">
                    recent activity
                </div>
            </div>
        </div>
</span>
    


</div>