:root{
    --navBg : #D4FEF8;
    --boxShadow : #808b93;
    --searchBg : #cfd3d3;
}

.container{
    margin-top: 5px;
}
mat-toolbar{
    background-color: #D4FEF8;
    border-radius: 10px;
    box-shadow: 3px 5px 15px #808b93 ;
}
.search{
    background-color: #cfd3d3;
    max-width: 300px;
    min-width: 100px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
    height: 40px;
    display: flex;
}
.search input{
    font-size: 14px;
    width: 90%;
    margin-left: 5px;
    height: 35px;
    background-color: transparent;
    border: none;
}
.search input:focus{
    border : none !important;
}
.tabs{
    display: flex;
    justify-content: center;
}
.tabs a{
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 16px;
    color: #13476A;
}

.user{
    width: 150px;
    display: flex;
    justify-content:space-between;
    font-size: 16px;
    align-items: baseline;
}
.username{
    position: relative;
    bottom: 5px;
}

mat-icon{
    margin-top: 10px;
}

.before-login{
    display: flex;
    justify-content: space-between;
}
.header span{
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
}
.join a{
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: 1px solid #13476A;
    margin-left: 20px;
    color: #13476A;
    border-radius: 10px;
}

.post-btn{
    background-color: #FFB98B;
    border-color: 1px solid #0C6D6D;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 40px 0 40px;
    margin-left: 20px;
    border-radius: 10px;
}
.details{
    position: absolute;
    right: 7%;
}

.designer-menu, .recruiter-menu{
    position: absolute;
    left: 20%;
}
.logout{
    width: fit-content;
    position: absolute;
    right: 2%;
    cursor: pointer;
}