<div class="container">
    <mat-toolbar class="navbar row">
        <div class="search col-2" *ngIf="isLoggedIn">
            <span>
                <mat-icon class="material-symbols-outlined">search</mat-icon>
            </span>
            <input type="text" placeholder="Search" />
        </div>
        <div class="tabs col-7 designer-menu" *ngIf="isLoggedIn">
            <a *ngIf="showDesignerDashboard" routerLink="designer-dashboard" >Home</a>
            <a *ngIf="showDesignerDashboard" routerLink="designer-post">Post</a>
            <a *ngIf="showDesignerDashboard" routerLink="designer-activity" >Activity</a>
            <a *ngIf="showDesignerDashboard" routerLink="designer-jobs">Jobs</a>
            <a *ngIf="showDesignerDashboard" routerLink="designer-network" >Connections</a>

        </div>
        <div class="tabs col-7 recruiter-menu" *ngIf="isLoggedIn">
            <a *ngIf="showRecruiterDashboard" routerLink="recruiter-dashboard" >Home</a>
            <a *ngIf="showRecruiterDashboard" routerLink="recruiter-activity" >Activity</a>
            <a *ngIf="showRecruiterDashboard" routerLink="recruiter-network" >Network</a>
            <button *ngIf="showRecruiterDashboard" routerLink="recruiter-post" class="post-btn" >Post</button>
        </div>

        <div class="tabs col-7 admin-menu" *ngIf="isLoggedIn">
            <h2 *ngIf="showAdminDashboard">ADMIN_PANEL</h2>
        </div>

        <div class="user col-2 details" *ngIf="isLoggedIn">
            <a *ngIf="showDesignerDashboard" class="user-profile" routerLink="designer-profile">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            </a>
            <a *ngIf="showDesignerDashboard" class="username" routerLink="designer-profile" > {{username}} 
            </a>
            <a *ngIf="showDesignerDashboard" class="settings" routerLink="designer-profile-settings" >
                <mat-icon class="material-symbols-outlined">settings</mat-icon>
            </a>
        </div>

        <div class="user col-2 details" *ngIf="isLoggedIn ">
            <a *ngIf="showRecruiterDashboard" class="user-profile" routerLink="recruiter-profile">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            </a>
            <a *ngIf="showRecruiterDashboard" class="username" routerLink="recruiter-profile" > {{username}} </a>
            <a *ngIf="showRecruiterDashboard" class="settings" routerLink="recruiter-profile-settings" >
                <mat-icon class="material-symbols-outlined">settings</mat-icon>
            </a>
        </div>

        <div class="user col-2 details" *ngIf="isLoggedIn">
            <a *ngIf="showAdminDashboard" class="user-profile" routerLink="admin-profile">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            </a>
            <a *ngIf="showAdminDashboard" class="username" routerLink="admin-profile" > {{username}} </a>
            <a *ngIf="showAdminDashboard" class="settings" routerLink="admin-profile-settings" >
                <mat-icon class="material-symbols-outlined">settings</mat-icon>
            </a>
        </div>

        <div class="before-login" *ngIf="!isLoggedIn">
            <div class="header">
                <span>Creatify</span>
            </div>
            <div class="join">
                <a routerLink="register">SignUp</a>
                <a routerLink="login">SignIn</a>
            </div>
        </div>
        <div class="logout" *ngIf="isLoggedIn">
            <a (click)="logout()">
                <mat-icon class="material-symbols-outlined">power_settings_new</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>