<div class="container">
    <mat-toolbar class="navbar row">
        <div class="search col-2">
            <span>
                <mat-icon class="material-symbols-outlined">search</mat-icon>
            </span>
            <input type="text" placeholder="Search" />
        </div>
        <div class="tabs col-7">
            <a routerLink="" >Home</a>
            <a routerLink="" >Post</a>
            <a routerLink="" >Activity</a>
            <a routerLink="" >Jobs</a>
            <a routerLink="" >Connections</a>
        </div>
        <div class="user col-2">
            <span class="user-profile">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
            </span>
            <span class="username">Username</span>
            <span class="settings">
                <mat-icon class="material-symbols-outlined">settings</mat-icon>
            </span>
        </div>
    </mat-toolbar>
    
</div>