.arrow-back, .close-btn, label{
    cursor: pointer;
}
.mat-dialog-title{
    display: inline-block;
    margin-left: 17.5vw;
    font-size: 20px;
}
.arrow-back{
    float: left;
}
.close-btn{
    float: right;
}
.container{
    width: 45vw;
    height: 40vh;
}
label p {
    margin-left: 19vw;
    font-weight: 500;
    letter-spacing: 0.5px;
}
input{
    display: none;
}

.photo-library{
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 18.5vw;
    color: #13476A;
}
.file-input{
    margin-right: 20%;
}
.mat-dialog-actions[align=center]{
    align-items: flex-end;
}
.next-btn{
    text-decoration: none;
    color: #13476A;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
    background-color: #D4FEF8;
    border: 1.5px solid #13476A;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 3px 3px 10px #808b93;
}
















