<form #recruiterPostData="ngForm" [formGroup]="recruiterPostForm" (ngSubmit)="getRecruiterPostData(recruiterPostData.value)" >
    <div class="container">
        <mat-icon class="material-symbols-outlined arrow-back">arrow_back</mat-icon>
        <p mat-dialog-title>New Job Post </p>
        <mat-icon mat-dialog-close class="material-symbols-outlined close-btn">close</mat-icon>
            
        <mat-dialog-content>
            <label for="input-image">
                <mat-icon class="material-symbols-outlined photo-library">photo_library</mat-icon>
                <p>Select Image</p>
                <input #imageInput accept="image/*" formControlName="image" type="file">
            </label>
        </mat-dialog-content>
    
        <mat-dialog-actions align="end">
            <a mat-dialog-close type="submit" (click)="openPostDialog2()" class="next-btn">Next</a>
        </mat-dialog-actions>
    
    </div>
        
</form>



