<form #jobDetailsData="ngForm" [formGroup]="jobDetailsForm" (ngSubmit)="onSubmit(jobDetailsData.value)" >
    <div class="container">
        <mat-icon mat-dialog-close class="material-symbols-outlined arrow-back" (click)="openPostDialog1()">arrow_back</mat-icon>
        <p mat-dialog-title>Job Details </p>
        <mat-icon mat-dialog-close class="material-symbols-outlined close-btn">close</mat-icon>

        <mat-dialog-content>
            <div class="image-pic">
                <mat-icon class="material-symbols-outlined photo-library">photo_library</mat-icon>
                <input #imageInput accept="image/*" formControlName="imageFile" type="file">
            </div>
            <div class="job-details">
                <mat-form-field appearance="fill" class="input1">
                    <mat-label>Company Name</mat-label>
                    <input matInput name="companyName" formControlName="companyName">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input2">
                    <mat-label>Profile Designation</mat-label>
                    <input matInput name="profileDesignation" formControlName="profileDesignation">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input3">
                    <mat-label>Job Type</mat-label>
                    <mat-select>
                      <mat-option value="one">Full Time</mat-option>
                      <mat-option value="two">Part Time</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="input4">
                    <mat-label>Location</mat-label>
                    <input matInput name="location" formControlName="location">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input5">
                    <mat-label>Skills Requirement</mat-label>
                    <textarea matInput name="skillsRequirement" formControlName="skillsRequirement"></textarea>
                </mat-form-field>                   
            </div>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button type="submit" class="share-btn">Share</button>
        </mat-dialog-actions>
    </div>

    
</form>
