<div class="container" id="container" [ngClass]="{'right-panel-active' : shouldAdd}">
    <!-- SIGN-UP  -->
    <div class="form-container sign-up-container">
        <form #registerUserData="ngForm" [formGroup]="signUp" (ngSubmit)="getUserRegisterFormData(registerUserData.value)">
            <h1>Create Account</h1>
            <input type="text" placeholder="Username" name="username" formControlName="username" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['username'] && signUpForm['username'].invalid && signUpForm['username'].touched" >
                Username is required!
            </div>
            
            <input type="email" placeholder="Email" name="email" formControlName="email" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['email'] && signUpForm['email'].invalid && signUpForm['email'].touched ">
                Email is required !
            </div>

            <input type="password" placeholder="Password" name="pass" formControlName="password" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['password'] && signUpForm['password'].invalid && signUpForm['password'].touched ">
                Password is required ! 
            </div>

            <button type="submit" >Sign Up</button>
        </form>
    </div>
    
    <!-- SIGN-IN  -->
    <div class="form-container sign-in-container">
        <form #loginUserData="ngForm" [formGroup]="signIn" (ngSubmit)="getUserLoginFormData(loginUserData.value)" >
            <h1>Sign In</h1>
            <input type="email" placeholder="Email" name="email" formControlName="email" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signInForm['email'] && signInForm['email'].invalid && signInForm['email'].touched ">
                Email is required !
            </div>
            <input type="password" placeholder="Password" name="password" formControlName="password" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signInForm['password'] && signInForm['password'].invalid && signInForm['password'].touched ">
                Password is required ! 
            </div>
            <a href="#">Forgot Password</a>

            <button type="submit" >Sign In</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">

        <!-- SIGNIN_OVERLAY_SLIDER -->
            <div class="overlay-panel overlay-left">
                <h1>Hello !!</h1>
                <p>Happy to see you here</p>

                <button id="sign-in" (click)="shouldAdd = !shouldAdd">Sign In</button>
            </div>
        </div>

        <!-- SIGNUP_OVERLAY_CONTAINER -->
        <div class="overlay-panel overlay-right">
            <h1>Hello !!</h1>
            <p>Enter the your personal details and joins us</p>
            <button id="signup" (click)="shouldAdd = !shouldAdd">Sign Up</button>
        </div>
    </div>

</div>
