<div class="container" id="container" [ngClass]="{'right-panel-active' : shouldAdd}" *ngIf="!isLoggedIn">
    <!-- SIGN-UP  -->
    <div class="form-container sign-up-container">
        <form #registerUserData="ngForm" [formGroup]="signUp" (ngSubmit)="getUserRegisterFormData(registerUserData.value)">
            <h1>Create Account</h1>
            <input type="text" placeholder="Username" name="username" formControlName="username" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['username'] && signUpForm['username'].invalid && signUpForm['username'].touched" >
                Username is required!
            </div>

            
            <input type="email" placeholder="Email" name="email" formControlName="email" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['email'] && signUpForm['email'].invalid && signUpForm['email'].touched ">
                Email is required !
            </div>
            <input type="password" placeholder="Password" name="pass" formControlName="password" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['password'] && signUpForm['password'].invalid && signUpForm['password'].touched ">
                Password is required ! 
            </div>
            <div class="role-section">
            <label for="gender" class="text-light">Role</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="role" formControlName="role" value="designer">
                <label for="radio-2" class="radio-label">Designer</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="role" formControlName="role" value="recruiter" >
                <label for="radio-3" class="radio-label">Recruiter</label>
            </div>
            </div>
                <div class="alert alert-danger show-validations" role="alert" *ngIf="signUpForm['role'] && signUpForm['role'].invalid && signUpForm['role'].touched ">
                Please select your domain !
            </div>
            <button type="submit" >Sign Up</button>

            <div class="alert alert-warning" *ngIf="registerUserData.submitted && isRegisterFailed">
                Signup failed ! 
                <br />
                {{ errorMessage }}
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful !
            </div>
        </form>
    </div>
    
    <!-- SIGN-IN  -->
    <div class="form-container sign-in-container">
        <form #loginUserData="ngForm" [formGroup]="signIn" (ngSubmit)="getUserLoginFormData(loginUserData.value)" >
            <h1 class="signin-title">Sign In</h1>
            <input type="email" placeholder="Email" name="email" formControlName="email" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signInForm['email'] && signInForm['email'].invalid && signInForm['email'].touched ">
                Email is required !
            </div>
            <input type="password" placeholder="Password" name="password" formControlName="password" />
            <div class="alert alert-danger show-validations" role="alert" *ngIf="signInForm['password'] && signInForm['password'].invalid && signInForm['password'].touched ">
                Password is required ! 
            </div>
            <a href="#">Forgot Password</a>

            <button type="submit">Sign In</button>

            <div class="alert alert-danger" role="alert" *ngIf="loginUserData.submitted && isLoggedInFailed">
                Login failed !!
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay" >

        <!-- SIGNIN_OVERLAY_SLIDER -->
            <div class="overlay-panel overlay-left" *ngIf="showLoginForm">
                <h1>Hello !!</h1>
                <p>Happy to see you here</p>

                <button id="sign-in" (click)="shouldAdd = !shouldAdd" routerLink="login">Sign In</button>
            </div>
        </div>

        <!-- SIGNUP_OVERLAY_CONTAINER -->
        <div class="overlay-panel overlay-right" *ngIf="showLoginForm">
            <h1>Hello !!</h1>
            <p>Enter the your personal details and joins us</p>
            <button id="signup" (click)="shouldAdd = !shouldAdd" routerLink="register">Sign Up</button>
        </div>
    </div>

</div>




<router-outlet></router-outlet>